//$color4: #d3d900; // vibrant

@import 'application';

.about-body h1 {
  word-break: break-word;
}

.custom-title-legend {
  font: 16px/28px 'Montserrat', sans-serif; padding-left: 10px; margin-left:15px; margin-bottom:15px; border-left: solid 3px #9baec8
}

.column-header {
    background: #81c784;
}

.column-icon {
    color: #f5f5f5;
    background: #81C784;
}

.drawer__tab {
    background: #81C784;
    color: #fcfcfc;
}

.column-back-button {
    color: #E8F5E9;
}

.collapsable-collapsed {
    color: #f5f5f5;
    background: #81C784;
}

.column-back-button {
    color: #e8f5e9;
}
